pip==25.3
﻿fastapi==0.124.0
pydantic==2.11.3
pydantic_core==2.33.1
requests==2.32.3
openai==1.75.0
colorama==0.4.6
speechrecognition==3.14.2
edge-tts==7.0.0
playsound==1.2.2
pyserial==3.5
uvicorn[standard]
python-dotenv==1.0.0
paho-mqtt==2.1.0
pytz==2025.2
schedule==1.2.2
asyncio==4.0.0
httpx==0.28.1